:root {
    --background: #E7DFAE;
    --textColor: #4B3414;
    --primary: #8EA998;
    --secundary: #C58E4D;
    --tertiary: #978D4F;
}

body {
    background: var(--background);
}

.nav-bar {
    background: var(--primary);
}

main {
    display: flex;
    justify-content: center;
}
