:root {
    --background: #E7DFAE;
    --textColor: #4B3414;
    --alternativeColor: #FFF3E3;
    --primary: #8EA998;
    --secundary: #C58E4D;
    --tertiary: #978D4F;
}

body {
    background: var(--background);
    font-family: 'Quicksand', sans-serif;
}

.nav-bar {
    background: var(--primary);
}

main {
    display: flex;
    justify-content: center;
}

/* Header Css*/
.cabecalho {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 112px;
    padding: 0 64px;
    background-color: var(--primary);
    border-radius: 0 0 16px 16px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.navegacao ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selecionado {
    font-size: 20px;
}

.navegacao ul li a {
    color: var(--alternativeColor);
    font-weight: 700;
    text-decoration: none;
    margin: 0 16px;
}

.toggle_button {
    display: none;
}

.offcanvas {
    height: 236px;
    border-radius: 0 0 16px 16px;
    background-color: var(--primary);
    width: 100% !important;
}

.offcanvas img {
    margin: 0 auto;
}

.offcanvas ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offcanvas ul li {
    margin-bottom: 16px;
}

.offcanvas ul li a {
    text-decoration: none;
    color: var(--alternativeColor);
    font-weight: 700;
}

.botao-primary {
    background-color: var(--secundary);
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    color: white;
    font-weight: 700;
    padding: 17px 58px;
    text-decoration: none;
}

.botao-primary:hover {
    background-color: var(--alternativeColor);
    border: 1px var(--secundary);
    color: var(--secundary);
}

@media (max-width: 640px) {
    .cabecalho {
        padding: 8px 32px;
        height: 56px;
    }

    .logo {
        margin-top: 16px;
        margin-left: 22px;
    }

    .toggle_button {
        display: block;
    }

    .logo-text {
        display: none;
    }

    .navegacao {
        display: none;
    }

    .cabecalho nav {
        display: none;
    }

    .botao-primary {
        padding: 4.5px 20px;
    }
}