:root {
    --background: #E7DFAE;
    --textColor: #4B3414;
    --alternativeColor: #FFF3E3;
    --primary: #8EA998;
    --secundary: #C58E4D;
    --tertiary: #978D4F;
}

body {
    background: var(--background);
    font-family: 'Quicksand', sans-serif !important;
}

.nav-bar {
    background: var(--primary);
}

main {
    display: flex;
    justify-content: center;
    min-height: 800px;
    background-image: url(../assets/images/engrangem-maior.png), url(../assets/images/engrenagem-menor.png), url(../assets/images/nevoa-lixo.png), url(../assets/images/sacola-lixo-e.png), url(../assets/images/sacola-lixo-e.png), url(../assets/images/Character-1.png);

    background-repeat: no-repeat;
    background-position: 97% 2%, 3% 7%, 0% 100%, 0% 95%, 103% 100%, 20% 57%;
    background-size: 80px, 52px, 240px, 100px, 97px, 500px;
}

.mobile-visible {
    display: none;
}

.mobile-hidden {
    display: block;
}

/* Header Css*/
.cabecalho {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 112px;
    padding: 0 64px;
    background-color: var(--primary);
    border-radius: 0 0 16px 16px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.navegacao ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selecionado {
    font-size: 20px;
}

.navegacao ul li a {
    color: var(--alternativeColor);
    font-weight: 700;
    text-decoration: none;
    margin: 0 16px;
}

.toggle_button {
    display: none;
}

.offcanvas {
    height: 236px;
    border-radius: 0 0 16px 16px;
    background-color: var(--primary);
    width: 100% !important;
}

.offcanvas img {
    margin: 0 auto;
}

.offcanvas ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offcanvas ul li {
    margin-bottom: 16px;
}

.offcanvas ul li a {
    text-decoration: none;
    color: var(--alternativeColor);
    font-weight: 700;
}

/* Header end's*/
.botao-secundary {
    background-color: var(--secundary);
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--alternativeColor) !important;
    font-weight: 700;
    padding: 17px 58px;
    text-decoration: none;
}

.botao-secundary:hover {
    background-color: var(--alternativeColor);
    border: 1px var(--secundary);
    color: var(--secundary) !important;
}

.botao-primary {

    border-radius: 4px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--alternativeColor);
    font-weight: 700;
    background-color: var(--primary);
    text-decoration: none;
    padding: 17px 8.5px;
    max-width: 165px;
}

.botao-primary:hover {
    background-color: var(--alternativeColor);
    color: var(--primary);
    border: 1px var(--primary);
}

.hero {
    width: 50%;
}

.hero h2 {
    font-size: 24px;
    margin-top: 28px;
    font-weight: 400;
    text-align: center;
    color: var(--textColor);
}

.hero h1 {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    color: var(--textColor);
}

.about {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about p {
    color: var(--textColor);
    font-size: 24px;
    line-height: 120%;
    text-align: justify;
    margin: 100px 64px 0 64px;
}

.boxContainer-About {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    background-color: var(--primary);
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin: 16px 64px;
    padding-bottom: 16px;
}

.boxContainer-About div {
    margin: 12px 16px;
    padding: 8px 16px;
    border: 2px;
    border-style: dotted;
    border-color: var(--primary);
    background-color: #Fff;
    text-align: center;
    color: var(--textColor);
    font-size: 16px;
}

.boxContainer-About h3 {
    margin: 8px 16px;
    font-weight: 700;
    font-size: 20px;
    color: var(--alternativeColor);
}

b {
    font-weight: 700;
}


.about .botao-primary {
    padding: 28px 54px;
    max-width: 327px;
}

.boxContainer-About .botao-secundary {
    display: none;
}

/* Cadastro page */

.cadastro-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastro-Container h2 {
    font-weight: 700;
    color: var(--textColor);
    text-align: center;
    padding: 64px 0;
    font-size: 40px;
    white-space: nowrap;

}

/* Cadastro ends */


/* Home Page Cidad達o */
.sectionCidadaoHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 24px;
}

.subTituloHomePage {
    color: var(--textColor);
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

.cidadaoCardContainer {
    background-color: var(--primary);
    width: 100%;
    max-width: 668px;
    display: flex;
    height: 367px;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    background-image: url(../assets/images/dot_desktop.png);
    background-repeat: no-repeat;
    background-position: 97% 56%;
}

.cidadaoCardContainer h3 {
    text-align: center;
    font-size: 32px;
    margin: 8px 16px;
    align-self: flex-start;
    font-weight: 700;
    color: var(--alternativeColor);
}

.cidadaoCardContainer ul {
    color: var(--alternativeColor);
    font-weight: 400;
    font-size: 24px;
}

.cidadaoCardContainer li {
    margin: 36px 46px 74px 0;
}

.containerButtonCidadao {
    margin-top: 100px;
    display: flex;
    width: 100%;
    max-width: 668px;
    justify-content: space-between;
    align-items: center;
}

.containerButtonCidadao .botao-primary {
    text-align: center;
    width: 100%;
    max-width: 340px;
}

.containerButtonCidadao .botao-secundary {
    vertical-align: middle;
}

/* Cadastro Default page */

.cadastro-default-Container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cadastro-default-Container h2 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: var(--textColor);

}

.timeline-cadastro {
    margin-top: 24px;
    margin-bottom: 24px;
}

.cadastro-default-Container label,
.cadastro-default-Container input {

    text-align: left;
    display: block;

}

.nome-cadastro {
    border: none;
    width: 650px;
    border-bottom: 1px solid var(--textColor);
    background-color: var(--background);
}

.cadastro-default-Container label {
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--textColor);
    font-size: 12px;
}



/* Home Page Cidad達o ends*/

/*Conclusao */
.conclusaoBackground {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 40%, 0% 100%, 100% 100%;
    background-image: url(../assets/images/desktop-Planeta.png), url(../assets/images/L-desktop-planta.png), url(../assets/images/R-desktop-planta.png);
    background-size: auto, 45vw, 45vw;
}

.containerConclusion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerConclusion h2 {
    text-align: center;
    margin-top: 498px;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 36px;
    color: var(--textColor);

}

/*conclusao ends */

/* Widget Branco */
.colaboradorAgendaContainer {
    margin: 16px auto;
    max-width: 668px;
}

.colaboradorAgendaContainer div {
    background-color: #Fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height: 69px;
    width: 100%;
    padding: 12px 16px;
}

.colaboradorAgendaContainer div:hover {
    background-color: rgb(202, 202, 202);
}

.colaboradorAgendaContainer h3 {
    color: var(--textColor);
    font-weight: 700;
}

.colaboradorAgendaContainer p {
    color: var(--textColor);
    font-size: 14px;
}

/* Fim Widget Branco */

/* modal */
.modal-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 30% auto;
    width: 30%;
    min-width: 324px;
    border-radius: 4px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.modal-header {
    padding: 16px 24px;
}

.modal-header h2 {
    color: var(--textColor);
    font-weight: 700;
    font-size: 20px;
}

.modal-body {
    padding: 8px 24px;
}

.modal-body p {
    color: var(--textColor);
    font-size: 14px;
}

.modal-footer {
    padding: 14px 24px;
    display: flex;
    justify-content: flex-end;
}

.modal-footer a {
    text-decoration: none;
    color: var(--primary);
    margin-left: 16px;
    font-size: 14px;
    font-weight: 700;
}

.modal-footer h3 {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    color: var(--secundary);
}

/* modal ends */
.senha-cadastro {
    border: none;
    margin-bottom: 14px;
    width: 650px;
    border-bottom: 1px solid var(--textColor);
    background-color: var(--background);
}


.confirmar-senha-cadastro {
    border: none;
    margin-bottom: 14px;
    width: 650px;
    border-bottom: 1px solid var(--textColor);
    background-color: var(--background);
}

.cadastro-default-Container .botao-primary {
    margin-left: 180px;
    margin-top: 40px;
    text-align: center;
    border: none;
    max-width: 350px;
    width: 280px;

}



/* Cadastro default ends */


/* Cadastro cidadao page */

.cpf-cadastro-cidadao {
    border: none;
    margin-bottom: 14px;
    width: 650px;
    border-bottom: 1px solid var(--textColor);
    background-color: var(--background);
}

.cadastrar-como-colaborador {
    text-decoration: none;
    color: var(--textColor);
    font-weight: 600;
    font-size: 14px;
    margin-top: 60px;


}


/* Cadastro cidadao ends */


/* Cadastro colaborador page */

.razao-social-cadastro {
    border: none;
    width: 650px;
    border-bottom: 1px solid var(--textColor);
    background-color: var(--background);
}

.cnpj-cadastro-colaborador {
    border: none;
    width: 650px;
    border-bottom: 1px solid var(--textColor);
    background-color: var(--background);
}

.inscricao-estadual-cadastro-colaborador {
    border: none;
    width: 650px;
    border-bottom: 1px solid var(--textColor);
    background-color: var(--background);
}

.cadastrar-como-cidadao {
    text-decoration: none;
    color: var(--textColor);
    font-weight: 600;
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 40px;
}

/* Cadastro colaborador ends */


/* Login default page */
.login-Container {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.login-h2 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: var(--textColor);
    margin-bottom: 32px;
}

.login-Container label,
.login-Container input {

    text-align: left;
    display: block;

}

.nome-login {
    border: none;
    width: 650px;
    border-bottom: 1px solid var(--textColor);
    background-color: var(--background);
}

.login-Container label {
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--textColor);
    font-size: 12px;
}


.senha-login {
    border: none;
    margin-bottom: 14px;
    width: 650px;
    border-bottom: 1px solid var(--textColor);
    background-color: var(--background);
}

::placeholder {
    color: var(--textColor);
    font-weight: 500;
}

.cadastra-se {
    text-decoration: none;
    color: var(--textColor);
    font-weight: 600;
    font-size: 14px;

}

textarea:focus,
input:focus {
    outline: none;
}

.login-Container .botao-primary {
    margin-left: 180px;
    margin-top: 30px;
    text-align: center;
    border: none;
    max-width: 350px;
    width: 280px;

}

/* Login default ends */


/* Login Cidadao page */

.sou-colaborador {
    text-decoration: none;
    color: var(--textColor);
    font-weight: 600;
    font-size: 14px;
    margin-right: 410px;
}

.img-lixeira-login {

    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

/* Login Cidadao ends */


/* Login Colaborador page */
.sou-cidadao {
    text-decoration: none;
    color: var(--textColor);
    font-weight: 600;
    font-size: 14px;
    margin-right: 440px;
}

.img-maquina-reciclagem {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Login Colaborador ends */

/* Carousel */
.img {
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    /* Nem sabia que existia */
    width: -webkit-fill-available;
    object-fit: contain;
}

.conteudo_principal {

    display: grid;
    grid-template-rows: 500px;

}

.arrow_esquerda,
.arrow_direita {
    cursor: pointer;
}

.arrow_esquerda:hover,
.arrow_direita:hover {
    background-color: #0303031a;
}

/* Carousel ends */


@media (max-width: 640px) {
    .mobile-visible {
        display: block;
    }

    .mobile-hidden {
        display: none;
    }

    /* Header Css*/
    .cabecalho {
        padding: 8px 32px;
        height: 56px;
    }

    .logo {
        margin-top: 16px;
        margin-left: 22px;
    }

    .toggle_button {
        display: block;
    }

    .logo-text {
        display: none;
    }

    .navegacao {
        display: none;
    }

    .cabecalho nav {
        display: none;
    }

    main {
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    /* Header end's*/

    .hero {
        margin-top: 16px;
        width: 100%;
        height: 485px;
        background-image: url(../assets/images/engrangem-maior.png), url(../assets/images/engrenagem-menor.png), url(../assets/images/nevoa-lixo.png), url(../assets/images/sacola-lixo-e.png), url(../assets/images/sacola-lixo-e.png), url(../assets/images/Character-1.png);

        background-repeat: no-repeat;
        background-position: 5% 2%, 93% 70%, 0% 100%, 0% 95%, 103% 100%, 50% 75%;
    }

    .hero h2 {
        font-size: 20px;
        margin-top: 28px;

    }

    .hero h1 {
        font-size: 48px;
    }

    .botao-secundary {
        padding: 4.5px 20px;
    }

    .about {
        width: auto;
        display: flex;
        flex-direction: column;
        margin-top: 16px;
    }

    .about .botao-primary {
        margin: 0 auto;
    }

    .about p {
        font-size: 20px;
        text-align: center;
        color: var(--textColor);
        margin: 16px 24px;
        line-height: 125%;
    }

    .about .botao-primary {
        padding: 17px 8.5px;
        max-width: 327px;
    }

    .boxContainer-About .botao-secundary {
        padding: 17px 16px;
        display: block;
    }

    /* Cadastro page */

    .cadastro-Container h2 {
        padding: 64px 0;
        font-size: 24px;
        white-space: nowrap;
    }

    /* Cadastro ends */
    /* Home Page Cidad達o */
    .subTituloHomePage {
        font-size: 20px;
        text-align: center;
        margin-top: 66px;
    }

    .cidadaoCardContainer {
        height: 316px;
        margin-top: 40px;
        background-image: url(../assets/images/dots.png);
        background-repeat: no-repeat;
        background-position: 95% 59%;
    }

    .cidadaoCardContainer h3 {
        font-size: 20px;
        margin: 8px 16px;
    }

    .cidadaoCardContainer li {
        margin: 36px 46px 74px 0;
    }

    .containerButtonCidadao .botao-primary {
        padding: 17px 16px;
    }

    .containerButtonCidadao .botao-secundary {
        padding: 9.5px 16px;
    }

    /* Home Page Cidad達o ends*/

    /*Conclusao */
    .conclusaoBackground {
        background-image: url(../assets/images/planeta-Mobile.png), url(../assets/images/L-planta-mobile.png), url(../assets/images/R-planta-mobile.png);
        background-repeat: no-repeat;
        background-position: 50% 20%, 0% 100%, 100% 100%;
        background-size: auto;
    }


    .containerConclusion h2 {
        margin-top: 100%;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 70px;
    }

    .containerConclusion .botao-primary {
        padding: 16px;
    }

    /*conclusao ends */

    /* Widget Branco */
    .colaboradorAgendaContainer {
        margin: 16px 24px;
        max-width: 668px;
    }

    .colaboradorAgendaContainer div {
        background-color: #Fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        height: 69px;
        width: 100%;
    }

    /* Fim Widget Branco */
}